*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: sticky;
    top: 0px;
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: 80px;
}
#logo *{
    margin-right: 10px;
    padding-top: 5px;
}
#logo>h4{
    color: #012555;
    font-family: Bai Jamjuree;
    font-weight: 600;
    font-size: 20px;
}
#vertical-line{
    height: 40px;
    width: 1px;
    background-color: rgb(205, 201, 201);
}

#menu-list>ul{
    list-style: none;
    padding: 0;
    margin-right: 10px;
}
#horizontal-list>li{
    display: inline;
    margin-inline: 20px;
    line-height: 155%;
}
nav>button{
    margin-right: 80px;
    /* margin-top: 20px; */
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border-color: #2f80ed;
    color: rgb(4, 179, 248);
    background-color: white;
    font-size: 18px;
    font-style: italic;
}