*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: sticky;
    top: 0px;
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: 80px;
}
#logo *{
    margin-right: 10px;
    padding-top: 5px;
}
#logo>h4{
    color: #012555;
    font-family: Bai Jamjuree;
    font-weight: 600;
    font-size: 25px;
}

#vertical-line{
    height: 40px;
    width: 1px;
    background-color: rgb(205, 201, 201);
}

#menu-list>ul{
    list-style: none;
    padding: 0;
    margin-right: 10px;
}
#horizontal-list>li{
    display: inline;
    line-height: 155%;
}

.list-item{
    margin-inline: 20px;
}
nav>button{
    margin-right: 80px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border-color: #2f80ed;
    color: #2F80ED;
    background-color: white;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}
.pointer:hover{
    cursor: pointer;
}
.anounce-bar{
    height: 40px;
    width: 100vw;
    position: fixed;
    background-color:#2F80ED;
    color: white;
    font-family: Satoshi,sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}